.product{

    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 400px;
    min-width: 100px;
    padding: 20px;
    margin: 10px;
    
    

}
.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product_info {

    height: 100px;
    margin-bottom: 1px;
}

.product_price {
    margin-top: 2px;
}

.product > button {

    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;

}

